[E]environment_monitoring_temper_humid_flows.json
[{"id":"9dc7265f2f3bc81e","type":"tab","label":"플로우 1","disabled":false,"info":"","env":[]},{"id":"a26021b63f8b6119","type":"serial in","z":"9dc7265f2f3bc81e","name":"","serial":"5889e5dee6f564f9","x":230,"y":300,"wires":[["f2afb0ccafe2ad31","ce50da6ff90022fd"]]},{"id":"f2afb0ccafe2ad31","type":"function","z":"9dc7265f2f3bc81e","name":"Huminity","func":"var hum = msg.payload\n\nvar result = hum.split(',')[0]\n// result = result / 100;\nvar result1 = { payload: result };\nreturn [result1];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":300,"wires":[["e2cd6b1eba17c7e3","7ed46bf2a5952325"]]},{"id":"e2cd6b1eba17c7e3","type":"debug","z":"9dc7265f2f3bc81e","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":300,"wires":[]},{"id":"ce50da6ff90022fd","type":"function","z":"9dc7265f2f3bc81e","name":"Temp","func":"var temp = msg.payload\n\nvar result = temp.split(',')[1]\n// result = result / 100;\nvar result1 = { payload: result };\nreturn [result1];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":460,"wires":[["22d7f9a5af5b0ba2","56d78277cd688a3a"]]},{"id":"22d7f9a5af5b0ba2","type":"debug","z":"9dc7265f2f3bc81e","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":460,"wires":[]},{"id":"7ed46bf2a5952325","type":"ui_gauge","z":"9dc7265f2f3bc81e","name":"","group":"10da6039ba84f26d","order":0,"width":0,"height":0,"gtype":"gage","title":"습도","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":790,"y":360,"wires":[]},{"id":"56d78277cd688a3a","type":"ui_gauge","z":"9dc7265f2f3bc81e","name":"","group":"10da6039ba84f26d","order":1,"width":0,"height":0,"gtype":"gage","title":"온도","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":790,"y":520,"wires":[]},{"id":"5889e5dee6f564f9","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"10da6039ba84f26d","type":"ui_group","name":"Default","tab":"236322a0c18b0a94","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"236322a0c18b0a94","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]