[E]webservice_monitoring_flows.json
[
    {
        "id": "2653bd7cd837a84b",
        "type": "tab",
        "label": "Web Service Monitoring",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "30d89b3f2a338dcf",
        "type": "http request",
        "z": "2653bd7cd837a84b",
        "name": "normal state",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8082",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 380,
        "wires": [
            [
                "1771c172fca437ba"
            ]
        ]
    },
    {
        "id": "1b92f50c3359469f",
        "type": "inject",
        "z": "2653bd7cd837a84b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "a34e5dd89e9a3291"
            ]
        ]
    },
    {
        "id": "a34e5dd89e9a3291",
        "type": "random",
        "z": "2653bd7cd837a84b",
        "name": "",
        "low": "0",
        "high": "1",
        "inte": "true",
        "property": "payload",
        "x": 220,
        "y": 320,
        "wires": [
            [
                "98b9254a3bf979dd"
            ]
        ]
    },
    {
        "id": "98b9254a3bf979dd",
        "type": "switch",
        "z": "2653bd7cd837a84b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 380,
        "wires": [
            [
                "30d89b3f2a338dcf"
            ],
            [
                "a07e0e37ddfc98ca"
            ]
        ]
    },
    {
        "id": "a07e0e37ddfc98ca",
        "type": "http request",
        "z": "2653bd7cd837a84b",
        "name": "abnormal state(500)",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8082/index_abnorm.html",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 440,
        "y": 440,
        "wires": [
            [
                "1771c172fca437ba"
            ]
        ]
    },
    {
        "id": "17a2ca5f4f1c3d6f",
        "type": "e-mail",
        "z": "2653bd7cd837a84b",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "cherry24mint@naver.com",
        "dname": "",
        "x": 770,
        "y": 540,
        "wires": []
    },
    {
        "id": "697551e6d48a76ec",
        "type": "function",
        "z": "2653bd7cd837a84b",
        "name": "문자열 패턴 분석",
        "func": "if(msg.payload.indexOf('maker') == -1 ){\n\nmsg.topic = \"website 동작 이상 탐지 알림\";\n\n//console.log(\"if test : \", msg.payload.indexOf('maker'));\n\n}\n\nconsole.log(msg);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 380,
        "wires": [
            [
                "f6826b9bc7a0a83b",
                "adbe28899acca2f9"
            ]
        ]
    },
    {
        "id": "1771c172fca437ba",
        "type": "html",
        "z": "2653bd7cd837a84b",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "title",
        "ret": "html",
        "as": "single",
        "x": 610,
        "y": 380,
        "wires": [
            [
                "697551e6d48a76ec"
            ]
        ]
    },
    {
        "id": "f6826b9bc7a0a83b",
        "type": "debug",
        "z": "2653bd7cd837a84b",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 380,
        "wires": []
    },
    {
        "id": "adbe28899acca2f9",
        "type": "switch",
        "z": "2653bd7cd837a84b",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 460,
        "wires": [
            [
                "17a2ca5f4f1c3d6f"
            ]
        ]
    },
    {
        "id": "5f01f7039c3ce030",
        "type": "comment",
        "z": "2653bd7cd837a84b",
        "name": "HTTP Request Node를 이용한 Web Service Monitoring(문자열 패턴)",
        "info": "",
        "x": 520,
        "y": 240,
        "wires": []
    }
]